td{
    border-style: solid;
    font-size: medium;
}

a{
    color: #66e8ff;
}
a.visited{
    color: #e200e2;
}

th{
    border-style: solid;
    font-size: large;
    background-color: #777777;
    color: black;
    border-color: #1414e0;
}

table{
    width: 100%;
    color:#1414e0
}

body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#banner{
    text-align: left;
    padding-left: 1%;
    width: 100%;
    height: 50%;
    float: left;
    background-image: url('./icons/c9509ee01ad2ea5510724dd43d2ea4c5.png');
    margin-bottom: 10px;
}

#ShrineImage{
    float: right;
    padding-right: 5%;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}
#Common{
    background-color: #e3e3e3;
    color: black;
}
#Uncommon{
    background-color: #00d104;
    color: black;
}
#Legendary{
    background-color: #d10000;
    color: white;
}
#Boss{
    background-color: #ccc900;
    color: black;
}
#Lunar{
    background-color: #0026ff;
    color: black;
}
#Equipment{
    background-color: #d1b200;
    color: black;
}
#Lunar-Equipment{
    background-color: #66e8ff;
    color: black;
}
#Void-Common{
    background-color:   purple;
    color: #e3e3e3;
}
#Void-Uncommon{
    background-color: purple;
    color: #00d104;
}
#Void-Legendary{
    background-color: purple;
    color: #d10000;
}